/* popbox1 start */
#popbox.popbox1 * {
    margin    : 0;
    padding   : 0;
    box-sizing: content-box;
}

#popbox.popbox1 .msgbox-wrap {
    width           : 520px;
    height          : 434px;
    background-color: #ffffff;
    position        : fixed;
    z-index         : 99;
    top             : 0px;
    left            : 0px;
    right           : 0px;
    bottom          : 0px;
    margin          : auto;
    border          : 1px solid #bbbbbb;
}

#popbox.popbox1 .msgbox-head {
    height          : 46px;
    background-color: #ffffff;
    position        : relative;
}

#popbox.popbox1 .msgbox-head .msgbox_close {
    display : block;
    width   : 10px;
    height  : 10px;
    position: absolute;
    top     : 12px;
    right   : 12px;
    color: #aaa;
}

#popbox.popbox1 .msgbox-head span {
    position   : absolute;
    left       : 20px;
    font-size  : 16px;
    line-height: 46px;
    font-weight: bold;
    color      : #333333;
}

#popbox.popbox1 .msgbox-head span i {
    font-size  : 14px;
    color      : #666666;
    font-weight: normal;
}

#popbox.popbox1 .msgbox-body {
    border-top: 1px solid #f5f5f5;
}

#popbox.popbox1 .carousel-wrap {
    width   : 458px;
    height  : 100%;
    margin  : 0 auto;
    position: relative;
    overflow: hidden;
}

#popbox.popbox1 .srocll_box {
    width         : 378px;
    height        : 150px;
    padding-top   : 16px;
    padding-bottom: 20px;
    overflow      : hidden;
    position      : relative;
    float         : left;
}

#popbox.popbox1 .arrow {
    width   : 40px;
    height  : 87px;
    position: relative;
}

#popbox.popbox1 .arrow a {
    display         : block;
    width           : 30px;
    height          : 30px;
    background-color: green;
    position        : absolute;
    top             : 16px;
    bottom          : 0;
    margin          : auto;
}

#popbox.popbox1 .arrow_left {
    float: left;
}

#popbox.popbox1 .arrow_left a {
    left      : 0;
    background: url("../image/arrow_left_default.png") no-repeat;
}

#popbox.popbox1 .arrow_left a:hover {
    background: url("../image/arrow_left_hover.png") no-repeat;
}

#popbox.popbox1 .arrow_right {
    float: right;
}

#popbox.popbox1 .arrow_right a {
    right     : 0;
    background: url("../image/arrow_right_default.png") no-repeat;
}

#popbox.popbox1 .arrow_right a:hover {
    background: url("../image/arrow_right_hover.png") no-repeat;
}

#popbox.popbox1 .srocll_box .imgList {
    width   : 4200px;
    position: absolute;
    z-index : 1;
}

#popbox.popbox1 .imgList ul {
    float: left;
}

#popbox.popbox1 .imgList ul li {
    width   : 378px;
    height  : 150px;
    position: relative;
    float   : left;
    left    : 10px;
}

#popbox.popbox1 .imgList ul li span {
    width: 72px;
    float: left;
}

#popbox.popbox1 .imgList ul li span img {
    width        : 72px;
    height       : 72px;
    border-radius: 12px;
}

#popbox.popbox1 .imgList ul li span p {
    font-size  : 14px;
    color      : #666666;
    line-height: 34px;
    text-align : center;
    height     : 34px;
    overflow   : hidden;
}

#popbox.popbox1 .imgList ul li span .softDown_btn {
    display         : block;
    width           : 70px;
    height          : 26px;
    background-color: #ffffff;
    text-align      : center;
    border          : 1px solid #bbbbbb;
    line-height     : 26px;
    border-radius   : 4px;
    font-size       : 14px;
    color           : #666666;
}

#popbox.popbox1 .imgList ul li span .softDown_btn:hover {
    background-color: #2e8ae6;
    color           : #ffffff;
}

#popbox.popbox1 .imgList ul li .distance {
    margin-right: 22px;
}

#popbox.popbox1 .carousel-dot {
    width   : 100%;
    height  : 20px;
    margin  : 0 auto;
    position: absolute;
    bottom  : 0px;
}

#popbox.popbox1 .carousel-dot .dot {
    width   : 44px;
    height  : 8px;
    position: absolute;
    top     : 0;
    right   : 0;
    left    : 0;
    bottom  : 0;
    margin  : auto;
}

#popbox.popbox1 .carousel-dot a {
    z-index         : 2;
    display         : block;
    float           : left;
    width           : 8px;
    height          : 8px;
    background-color: gray;
    border-radius   : 50%;
}

#popbox.popbox1 .carousel-dot a:nth-child(n+2) {
    margin-left: 10px;
}

#popbox.popbox1 .carousel-dot a:hover {
    cursor: pointer;
}

#popbox.popbox1 .carousel-dot .on {
    background-color: #2e8ae6;
}

#popbox.popbox1 .msgbox-footer {
    position: relative;
}

#popbox.popbox1 .msgbox-footer .footer-wrap {
    width   : 466px;
    position: absolute;
    top     : 0;
    right   : 0;
    bottom  : 0;
    left    : 0;
    margin  : auto;
}

#popbox.popbox1 .msgbox-footer .footer-title {
    position: relative;
}

#popbox.popbox1 .msgbox-footer h1 {
    font-size: 14px;
    color    : #666666;
}

#popbox.popbox1 .msgbox-footer .footer-list {
    overflow  : hidden;
    margin-top: 14px;
}

#popbox.popbox1 .msgbox-footer .listBox {
    width : 378px;
    height: 150px;
    margin: 0 auto;
}

#popbox.popbox1 .mask {
    width           : 100%;
    height          : 100%;
    background-color: gray;
    position        : fixed;
    top             : 0;
    left            : 0;
    z-index         : 2;
    opacity         : 0.3;
    filter          : alpha(opacity=30);
    display         : none;
}
/* popbox1 end */
/* popbox 2 start */

#popbox.popbox2 {
    z-index         : 999;
    margin          : 0;
    box-sizing      : border-box;
    display         : none;
    position: fixed;
  }
  
  #popbox.popbox2 * {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #popbox.popbox2 .clearfix::after {
    content: "";
    display: block;
    height : 0;
    clear  : both;
  }
  
  #popbox.popbox2 ul,
  #popbox.popbox2 ol {
    list-style: none;
  }
  
  #popbox.popbox2 .fl {
    float: left;
  }
  
  #popbox.popbox2 .fr {
    float: right;
  }
  
  #popbox.popbox2 .margin20 {
    margin: 20px;
  }
  
  #popbox.popbox2 .p-c {
    /* filter: alpha(opacity=100); */
    background-color: #ffffff;
    position        : fixed;
    width           : 946px;
    height          : 382px;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    margin          : auto;
    border-radius   : 5px;
    overflow        : hidden;
    border: 1px solid #ddd;
  }
  
  #popbox.popbox2 .p-c .p-close {
    text-align: right;
  }
  
  #popbox.popbox2 .p-c .p-close-btn {
    display         : inline-block;
    text-align      : center;
    width           : 46px;
    height          : 25px;
    line-height     : 25px;
    color           : #ffffff;
    background-color: #8f8f8f;
    cursor          : pointer;
  }
  
  #popbox.popbox2 .p-c .title {
    padding-left : 20px;
    font-size    : 26px;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
  }
  
  #popbox.popbox2 .p-c .title b {
    color: #15d292;
  }
  
  #popbox.popbox2 .p-c .tp {
    display: block;
    float  : left;
    cursor : pointer;
  }
  
  #popbox.popbox2 .p-c .tp img {
    width : 310px;
    height: 150px;
  }
  
  #popbox.popbox2 .p-c .softlist-right {
    float : left;
    height: 150px;
    width : 550px;
    margin-left: 20px;
  }
  
  #popbox.popbox2 .p-c .softlist-right li {
    float : left;
    width : 182px;
    height: 50%;
    cursor: pointer;
    font-size: 14px;
  }
  #popbox.popbox2 .p-c .softlist-right li img{
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }
  #popbox.popbox2 .p-c .softlist-right h4 {
    max-width: 116px;
    max-height: 3rem;
    overflow: hidden;
  }
  
  #popbox.popbox2 .p-c .softist-bottom {
    padding-top: 20px;
    border-top : 1px solid #ddd;
  }
  
  #popbox.popbox2 .p-c .softist-bottom-item {
    max-width : 8%;
    text-align: center;
    cursor    : pointer;
    float: left;
    margin-right: 27px;
  }
  
  #popbox.popbox2 .p-c .softist-bottom-item img {
    width : 48px;
    height: 48px;
  }
  #popbox.popbox2 .p-c .softist-bottom-item h4{
    width: 48px;
    font-size: 12px;
    font-weight: 500;
  }
  
  /* popbox2 end */



  /* popbox3 推荐框+二维码 start */
  #popbox.popbox3 {
    z-index         : 999;
    margin          : 0;
    box-sizing      : border-box;
    display         : none;
    position: fixed;
  }
  
  #popbox.popbox3 * {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #popbox.popbox3 .clearfix::after {
    content: "";
    display: block;
    height : 0;
    clear  : both;
  }
  
  #popbox.popbox3 ul,
  #popbox.popbox3 ol {
    list-style: none;
  }
  
  #popbox.popbox3 .fl {
    float: left;
  }
  
  #popbox.popbox3 .fr {
    float: right;
  }
  
  #popbox.popbox3 .margin20 {
    margin: 20px;
  }
  
  #popbox.popbox3 .p-c {
    /* filter: alpha(opacity=100); */
    background-color: #ffffff;
    position        : fixed;
    width           : 946px;
    height          : 382px;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    margin          : auto;
    border-radius   : 5px;
    overflow        : hidden;
    border: 1px solid #ddd;
  }
  
  #popbox.popbox3 .p-c .p-close {
    text-align: right;
  }
  
  #popbox.popbox3 .p-c .p-close-btn {
    display         : inline-block;
    text-align      : center;
    width           : 46px;
    height          : 25px;
    line-height     : 25px;
    color           : #ffffff;
    background-color: #8f8f8f;
    cursor          : pointer;
  }
  
  #popbox.popbox3 .p-c .title {
    padding-left : 20px;
    font-size    : 26px;
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
  }
  
  #popbox.popbox3 .p-c .title b {
    color: #15d292;
  }
  
  #popbox.popbox3 .p-c .tp {
    display: block;
    float  : left;
    cursor : pointer;
  }
  
  #popbox.popbox3 .p-c .tp img {
    width : 310px;
    height: 150px;
  }
  
  #popbox.popbox3 .p-c .softlist-right {
    float : left;
    height: 150px;
    width : 365px;
    margin-left: 20px;
  }
  
  #popbox.popbox3 .p-c .softlist-right li {
    float : left;
    width : 182px;
    height: 50%;
    cursor: pointer;
    font-size: 14px;
  }
  #popbox.popbox3 .p-c .softlist-right li img{
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }
  #popbox.popbox3 .p-c .softlist-right h4 {
    max-width: 116px;
    max-height: 3rem;
    overflow: hidden;
  }
  
  #popbox.popbox3 .p-c .softist-bottom {
    padding-top: 20px;
    border-top : 1px solid #ddd;
  }
  
  #popbox.popbox3 .p-c .softist-bottom-item {
    max-width : 8%;
    text-align: center;
    cursor    : pointer;
    float: left;
    margin-right: 27px;
  }
  
  #popbox.popbox3 .p-c .softist-bottom-item img {
    width : 48px;
    height: 48px;
  }
  #popbox.popbox3 .p-c .softist-bottom-item h4{
    width: 48px;
    font-size: 12px;
    font-weight: 500;
  }
  #popbox.popbox3 .qr{
    /* float: left; */
    position: absolute;
    width: 200px;
    height: 205px;
    /* height: ; */
    right: 25px;
    top: 50px;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
  }
  #popbox.popbox3 .qr img{
    width: 165px;
    height: 165px;
  }
  /*  */

  #popbox.popbox4 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 505px;
    height: 464px;
    margin: auto auto;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 0px 50px 0px rgba(69, 69, 69, 0.95);
    text-align: center;
    /* transform: translate(-50%, -50%); */
    overflow: hidden;
    z-index: 10001;
    background: #fff;
  }
 #popbox.popbox4 .close-btn {
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #3366FF;
    height: 45px;
    line-height: 45px;
    border-top: 1px solid #e4e4e4;
    cursor: pointer;
  }
  #popbox.popbox4 .top {
    height: 46px;
    line-height: 46px;
    font-family: '微软雅黑 Bold', '微软雅黑';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #FF9900;
    border-bottom: 1px solid #e4e4e4;
  }
  #popbox.popbox4 .content {
    padding: 15px 40px 15px;
    font-size: 14px;
    color: #000;
    width: 100%;
    box-sizing: border-box;
  }
  #popbox.popbox4 .content .text {
    padding: 0 10px;
    text-align: left;
  }
  #popbox.popbox4 .content .img-box img {
    width: 220px;
    height: 220px;
  }
  #popbox.popbox5 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 505px;
    height: 464px;
    margin: auto auto;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 0px 50px 0px rgba(69, 69, 69, 0.95);
    text-align: center;
    /* transform: translate(-50%, -50%); */
    overflow: hidden;
    z-index: 10001;
    background: #fff;
  }
  #popbox.popbox5 .close-btn {
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #3366FF;
    height: 45px;
    line-height: 45px;
    border-top: 1px solid #e4e4e4;
    cursor: pointer;
  }
  #popbox.popbox5 .zq-close-btn{
    position: absolute;
    right:10px;
    top: 10px;
    font-size: 12px;
    color: rgb(178, 178, 173);
    cursor: pointer;
  }
  #popbox.popbox5 .content-box{
    position: relative;
  }
